torch
pandas
sklearn
tqdm
wandb
transformers
easydict
prettyprinter 
importlib 
pyyaml
adamp
Flask
apache-airflow==2.1.0              
apache-airflow-providers-ftp==1.1.0              
apache-airflow-providers-imap==1.0.1              
apache-airflow-providers-sqlite==1.0.2 
attrdict==2.0.1        
BentoML==0.12.1    
SQLAlchemy==1.3.24             
SQLAlchemy-JSONField==1.0.0              
SQLAlchemy-Utils==0.36.7             
sqlparse==0.4.1   